
body {
  display: flex;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.sidebar {
  width: 260px;
  background: #fdfdfd;
  color: #333;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  padding: 30px 20px;
  border-right: 1px solid #eee;
}
.sidebar a {
  display: block;
  color: #333;
  text-decoration: none;
  margin: 12px 0;
  font-size: 1em;
}
.sidebar a:hover {
  text-decoration: underline;
}
.main {
  margin-left: 260px;
  padding: 30px;
  width: calc(100% - 260px);
  background-color: #f9f9f9;
}
